# Entorno virtual
venv/
env/
.venv/
myEnviroment/
myEnvApp/
.myEnv/

# Variables de entorno
.env
env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3

# Archivos estáticos generados
staticfiles/

# Archivos multimedia
media/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Backups de base de datos
sblingerie_backup.sql
