{% load static %}

<footer>
<div class="contenedor">

    <div class="pedido">

        <p class="eslogan-pedido">
            REALIZA TU PEDIDO AQUÍ
        </p>


        <a
            href="https://wa.me/573223642234"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Contactar por WhatsApp"
        >

            <img
                src="{% static 'Imagenes/Iconos/whatsapp.png' %}"
                alt="WhatsApp"
                class="img-icono"
            >

        </a>


        <a
            href="https://www.instagram.com/sblingerie_colombia/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visitar Instagram de SBLingerie"
        >

            <img
                src="{% static 'Imagenes/Iconos/Instagram.png' %}"
                alt="Instagram"
                class="img-icono"
            >

        </a>

    </div>

</div>

</footer>