{% load static %}

<header>
<div class="contenedor">

    <div class="logo-titulo">

        <a href="{% url 'myDjangoApp:home' %}">

            <img
                src="{% static 'Imagenes/Logo_SBLingerie-1.png' %}"
                alt="Logo SBLingerie"
                class="img-pequena"
            >

            <h1 class="titulo">
                Lingerie
            </h1>

        </a>

    </div>


    <div class="alegreya-eslogan">

        <h2 class="eslogan">

            NO ES SOLO LENCERÍA,
            <br>
            ES LA SEGURIDAD DE UNA DIOSA.

        </h2>

    </div>

</div>

</header>