{% load static %}

<header>
    <div class="contenedor">

        <div class="alex-brush-regular logo-titulo">
            <img 
                src="{% static 'Imagenes/Logo_SBLingerie-1.png' %}" 
                alt="Logo SBLingerie" 
                class="img-pequena"
            >

            <h1 id="Titulo">Lingerie</h1>
        </div>

        <div class=".alegreya-eslogan">
            <h2 id="Eslogan">
                NO ES SOLO LENCERÍA, <br>
                ES LA SEGURIDAD DE UNA DIOSA.
            </h2>
        </div>
    </div>
</header>
