{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SBLingerie</title>

    <link rel="stylesheet" href="{% static 'css/Home.css' %}">    
    <link rel="icon" href="{% static 'Imagenes/LogoRedondeado.png' %}" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alex+Brush&display=swap" rel="stylesheet">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="contenedor">
            <div class="alex-brush-regular logo-titulo">
                <img src="{% static 'Imagenes/Logo_SBLingerie-1.png' %}" alt="Logo" class="img-pequena">
                <h1 id="Titulo">Lingerie</h1>
            </div>
            <div class="alegreya-eslogan">
                <h2 id="Eslogan">NO ES SOLO LENCERÍA, <br> ES LA SEGURIDAD DE UNA DIOSA.</h2>
            </div>
        </div>
    </header>

      <!-- MAIN / CATÁLOGO -->
    <main class="flex-main">
        <section class="catalogo-container">

            <!-- VENUS -->
            <div class="producto">
                <div class="img-wrapper">
                    <img src="{% static './Imagenes/Lenceria/Venus.jpg' %}" alt="Malla Tex">
                </div>
                <h3>VENUS</h3>
                <p></p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Venus_Blanco.jpeg" alt="Blusa Sharlotte">
                </div>
                <h3>VENUS BLANCO</h3>
                <p>$45.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Venus_Negro.jpeg" alt="Blusa Inanna">
                </div>
                <h3>VENUS NEGRO</h3>
                <p>$45.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Venus_Rojo.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>VENUS ROJO</h3>
                <p>$45.000</p>
            </div>


         <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Venus_Verde.jpeg" alt="Malla Tex">
                </div>
                <h3>VENUS VERDE</h3>
                <p>$45.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Venus_Vinotinto.jpeg" alt="Blusa Sharlotte">
                </div>
                <h3>VENUS VINOTINTO</h3>
                <p>$45.000</p>
            </div>

            <!-- AFRODITA -->
            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Afrodita.jpg" alt="Blusa Inanna">
                </div>
                <h3>AFRODITA</h3>
                <p></p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Afrodita_Blanco.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>AFRODITA BLANCO</h3>
                <p>$60.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Afrodita_Negro.jpeg" alt="Blusa Inanna">
                </div>
                <h3>AFRODITA NEGRO</h3>
                <p>$60.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Afrodita_Rojo.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>AFRODITA ROJO</h3>
                <p>$60.000</p>
            </div>

            <!-- FREYJA -->
            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Freyja.jpg" alt="Blusa Inanna">
                </div>
                <h3>FREYJA</h3>
                <p>$60.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Freyja_Blanco.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>FREYJA BLANCO</h3>
                <p>$60.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Freyja_Negro.jpeg" alt="Blusa Inanna">
                </div>
                <h3>FREYJA NEGRO</h3>
                <p>$60.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Freyja_Rojo.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>FREYJA ROJO</h3>
                <p>$60.000</p>
            </div>           

            <!-- ISHTAR -->
            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Ishtar.jpg" alt="Blusa Inanna">
                </div>
                <h3>ISHTAR</h3>
                <p></p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Ishtar_Blanco.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>ISHTAR BLANCO</h3>
                <p>$50.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Ishtar_Negro.jpeg" alt="Blusa Inanna">
                </div>
                <h3>ISHTAR NEGRO</h3>
                <p>$50.000</p>
            </div>

            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Ishtar_Rojo.jpeg" alt="Blusa Ishtar">
                </div>
                <h3>ISHTAR ROJO</h3>
                <p>$50.000</p>
            </div>                 

           <!-- INANNA -->
            <div class="producto">
                <div class="img-wrapper">
                    <img src="./Imagenes/Lenceria/Inanna_Negro.jpeg" alt="Blusa Inanna">
                </div>
                <h3>INANNA NEGRO</h3>
                <p>$50.000</p>
            </div>         
        </section>
    </main>
    
    <!-- FOOTER -->
    <footer>  
        <div class="contenedor">
            <div class="alegreya-eslogan pedido">
                <p id="Eslogan">REALIZA TU PEDIDO AQUÍ</p>            
                <a href="https://wa.me/573223642234" target="_blank" rel="noopener noreferrer">
                    <img src="{%static './Imagenes/Iconos/whatsapp.png' %}" alt="Whatsapp" class="img-icono">
                </a>
                <a href="https://www.instagram.com/sblingerie_colombia/" target="_blank" rel="noopener noreferrer">
                    <img src="{%static './Imagenes/Iconos/Instagram.png' %}" alt="Instagram" class="img-icono">
                </a> 
            </div>  
        </div>
    </footer>
  
</body>
</html>